body {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color:rgb(59, 59, 71);
font-family: Arial, Helvetica, sans-serif;
color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20pt 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1pt solid lightslategray;
    z-index: 100;
}

.name {
    font-size: x-large;
    font-size: 2vw;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.navbar a {
    font-size: large;
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
    margin-left: 40pt;
    font-weight: 500;
}

.navbar a:hover, a.active {
    color: green;
}

.home {
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-content {
    max-width: 50vw;
}

.home-content h1 {
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration: underline;
}

.home-content p {
    font-size: 1vw;
    font-weight: 500;
}

.links {
    align-items: right;
}

.links a {
    font-size: 1vw;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.links a:hover {
    color: green;
}

.links div {
    font-size: 1.5vw;
    color: white;
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 15pt;
}